body {
  max-width: 480px;
}

.container {
  max-width: 480px;
}

.rowbox {
  padding-left: 2px; 
  padding-right: 2px;
}

.colbox {
  margin-bottom: 2px;
  padding:5px 15px 5px 15px;
}

.rowbox2 {
  margin-left: -13px;
  margin-right: -13px;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

table  { 
  border-collapse: collapse;
  border-spacing: 0;
  margin-top:10px;
}

table td {
  padding: 1px; 
  overflow: hidden; 
  word-break: normal;
}

table.numpad td{
  font-size: 18px;
}

.output {
  float:right;
  display: inline-block;
}

button {
  width: 60px;
  height: 50px;
}

.numpad-rhs-align canvas, table.numpad-rhs-align {
  margin-top: 34px;
}

a {
  color: #ac005f;
}
a:hover, a:focus {
  text-decoration: underline;
}

.nav.nav-pills {
  margin: 2px;
}

