<div class="container" ng-controller="StatusCtrl as status">
  <div class="row rowbox">
    <div class="col-xs-12 well">
      <h4>Bitcoin Core Status</h4>
      <div class="col-xs-6"><p>Connections: {{data.status.connections}}</p></div>
      <div class="col-xs-6"><progressbar class="progress-striped active" value="dynamic" type="{{type}}">{{data.status.connections}}</progressbar></div>
      <div>
        <p>Local Chain Height: {{data.status.localHeight}}</p>
        <p>Max Chain Height: {{data.status.maxHeight}}</p>
        <p>Next Block Fee: {{data.status.nextBlockFee}}</p>
      </div>
    </div>
  </div>
</div>