<div class="container" ng-controller="WalletController as wallet">
  <div class="row">
    <div class="col-xs-6">
      <div class="row rowbox">
         <div class="col-xs-12 well colbox">
            <h4>My Wallet</h4>
            <p>Balance: {{data.wallet.balance}} BTC</p>
            <p>Default Address: {{data.wallet.defaultAddress}}</p>
        </div>
      </div>
      <div class="row rowbox">
        <div class="col-xs-12 well colbox">
        <h4>Last Transaction</h4>
          <p>Time: {{data.wallet.lastTransaction.time}}
          <br>Time delta: {{data.wallet.lastTransaction.timedelta}}
          <br>Amount: {{data.wallet.lastTransaction.amount}}
          <br>Confirmations: {{data.wallet.lastTransaction.confirmations}}</p>
        </div> 
      </div>
    </div>
    <div class="col-xs-6 well" id="walletqrwell">
      <qrcode id="walletqr" size="210" data="{{wallet.URI}}"></qrcode>
    </div>
  </div>
</div>

<style type="text/css">
  #walletqrwell {padding: 28px 14px 29px 14px;}
</style>
  